# Environments
.env
.env.*
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
.secrets.baseline

# API Keys and Profiles
profiles/api_keys.yaml
